#app-root{
    position: absolute;
    right: 0;
    top: 0;
    width: calc(100% - 15rem);
    height: 100%;
}
.app-ctn{
    display: grid;
    grid-template-columns: 65% 30%;
    padding: 3rem;
    margin: 0 8rem 0 4rem;
    column-gap: 10rem;
    row-gap: 4rem;
}
.app-ctn h1{
    position: relative;
    font-size: 4rem;
    font-weight: 500;
    color: #0A2540;
    letter-spacing: -1.5px;
    margin: 0;
}
.app-ctn h1::after{
    content: '';
    background-color: #00D4FF;
    position: absolute;
    width: 3rem; height: 1.25rem;
    right: 1;
    top: 2rem;
    margin-left: 2rem;
    border-radius: 1rem;
}
.load-profit-ctn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}