.nav-bar{
    background-color: #0A2540;
    color: #F6F9FC;
    height: 100%;
    width: 15rem;
    bottom: 0;
    left: 0;
    position: fixed;
}
.ctn-navbar{
    padding: 2.5rem;
    text-align: center;
}
.ctn-navbar .haulit-isotype{
    padding-bottom: 3rem;
    padding-top: 2rem;
    margin-bottom: 2rem;
    border-bottom: 1px solid #F6F9FC;
}
.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}