.lane-ctn{
    display: grid;
    grid-template-columns: 40% 30% 30%;
    column-gap: 0;
    background-color: #DFE6EC;
    padding: 3rem 3rem;
    border-radius: 2rem;
}
.lane-ctn .input-ctn:last-child{
    border-right: 0;
}
.lane-ctn .entry-ctn h4{
    position: relative;
    margin: 0 0 0.5rem 2rem;
    font-size: 1.6rem;
    font-weight: 300;
}
.lane-ctn .input-ctn input{
    margin-left: 2rem;
    font-size: 1.6rem;
    font-weight: bold;
    text-align: left;
    align-items: center;
    border: 0;
    width: 100%;
    height: 6rem;
    background-color: transparent;
    color: #0A2540;
    border-right: 2px solid #00D4FF;
}
.entry-ctn:last-child input{
    border: 0;
}
.entry-ctn h4::after{
    content: '';
    background-color: #00D4FF;
    position: absolute;
    width: 2rem; height: 0.75rem;
    right: 1;
    top: 0.5rem;
    margin-left: 1rem;
    border-radius: 1rem;
}